# Laravel & PHP
/vendor/
/node_modules/
.env
.env.*
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.cache

# Laravel caches
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# IDE & system files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# NPM & Yarn
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
pnpm-lock.yaml

# Composer
composer.lock

# Cache
*.cache
